/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:#555;
    /*background-color: #f5f8fa;*/
    background-color: #fff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #444;
    color:#EEE;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > section > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}



.fb-icn {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 40px;
    height: 40px;
    background: url('/assets/images/icons.png') 0 -639px no-repeat;
    float: left;
    background-position: 0 -639px;
    border-right: 1px solid #fff;
}

.fb-btn{
    background-color: #3B5A9A;
    height: 40px;
    width: 250px;
    margin: 0 auto;
    cursor:pointer;
}
.fb-btn p{
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}

.lk-icn{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 40px;
    height: 40px;
    background: url('/assets/images/icons.png') 0 -569px no-repeat;
    float: left;
    background-position: 0 -569px;
    border-right: 1px solid #fff;
}
.lk-btn{
    background-color: #117BB8;
    height: 40px;
    width: 250px;
    margin: 0 auto;
    cursor:pointer;
}
.lk-btn p{
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}

.fb-btn a,.fb-btn a:hover,.fb-btn a:visited{
    text-decoration: none;
}
.lk-btn a,.lk-btn a:hover,.lk-btn a:visited{
    text-decoration: none;
}

h1,h2,h3,h4{
   /* font-family: 'Source Sans Pro',  sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    color:#525252!important;
    -webkit-font-smoothing: antialiased;
}
h2,h1 {font-style: italic;text-transform: uppercase}
h1{ font-size: 25px; margin: 30px 0px;}
.titleColor{color:#476AAB!important;}
h4{font-size: 14px;}
h2{ font-size: 20px;}
.titleColor{color:#476AAB!important;}
label{font-weight: normal;}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {font-weight: 300;}

.marginTop10{margin-top: 10px;}
.marginTop20{margin-top: 20px;}
.marginBottom20{margin-bottom: 20px;}
.marginBottom10{margin-bottom: 10px;}
.margin10{margin:10px;}
.margin20{margin:20px;}
.aviso-verifica-icon{font-size:60px; font-weight: 300;}

.navbar{
    background-color: #3097d1;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color:#fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FF9900;
}
.navbar-default .navbar-nav>li>a ,
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active  {
    color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #FF9900;
    border-color: #337ab7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #FF9900;
}
.spaceIcon{margin-right: 10px;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #FF9900;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FF9900;
    color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff;
    background: #FF9900;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.initialDiv{
    margin-top: 10px;
    margin-bottom: 20px;
}
div.menu-coleccion > ul > li{
    margin-bottom: 5px;
    margin-left: 15px;
}
.menu-coleccion ul li a, .menu-coleccion ul li a:focus,.menu-coleccion ul li a:visited{
    color : #888;
}
.menu-coleccion ul li a:hover,.menu-coleccion ul li a:active{
    color : #337ab7;
    text-decoration: none;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#imageErrorAlert{
    display: none;
}

.thumbsAuto{
    width: 110px;
    float: left;
    margin: 0px 5px;
}
.errorBorder{
    box-shadow: 0 0 5px rgba(200,0, 0, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(200, 0, 0, 1);
}
.borderMiddle{
    border-right: 1px #eee solid;
}
.progress {
    height: 20px;
    margin: 5px 0;
}
.boton-borrar{
    display:none;
}
.thumbnail{
    position: relative;
    padding: 3px!important;
    border-radius: 0px!important;
    max-width: 220px;
    border: 1px #DDD solid;
}
/*
.thumbnail .caption {
    height: 75px;
    padding-top: 30px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(180,180,180,1), rgba(0,0,0,0));
    background-image: linear-gradient(to top, rgb(180, 180, 180), rgba(0, 0, 0, 0));
}
*/

h4.lista-coleccion {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#666!important;
    overflow: hidden;
}
.info-adicional{
    display: none;
}

.pointer{
    cursor: pointer;
}